/ArrayInexOutOfBoundsExceptionTest.class
/CustomCalcul.class
/CustomException.class
/CustomExceptionTest.class
/NullPointerExceptionTest.class
/NumberFormatExceptionTest.class
/ThrowsClass.class
/ThrowsTest.class
/TryCatchFinallyTest.class
/TryCatchTest.class
