/BinomialOperatorTest.class
/CompareOperatorTest.class
/DenyOperatorTest.class
/LogicOperatorNOTTest.class
/LogicOperatorORTest.class
/LogicOperatorTest.class
/LogicOperatorXORTest.class
/OperatorPriorityTest.class
/PlusPlusOperatorTest.class
/SingleSignOperatorTest.class
/StringAddOperatorTest.class
/StringCompareOperatorTest.class
/TernaryOperatorTest.class
